.close {
  float: right;
  width: $close-width;
  height: $close-height;
  color: $close-color;
  opacity: $close-opacity;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: $close-width;
    width: $close-width;
    height: $close-thickness;
    content: "";
    background: $close-color;
  }
  &::before { transform: rotate(45deg); }
  &::after { transform: rotate(-45deg); }

  @include hover-focus {
    opacity: 1;
  }

  // Opinionated: add "hand" cursor to non-disabled .close elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
// stylelint-enable
